<div id="<%= dom_id review %>">
  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Offer:</strong>
    <%= review.offer_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= review.text %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

</div>
